.catalog {
  margin-bottom: rem(80);
  @media (max-width: 600px) {
    .container {
      padding: 0;
    }
  }
}

.catalog__container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
