.menu {
  min-height: 100vh;
  width: 87%;
  padding: 101px 20px 20px 59px;
  position: fixed;
  top: 0;
  left: -900px;
  right: 0;
  bottom: 0;
  background: $light-gray;
  z-index: -1;
  transition: all 0.5s;
  overflow-x: hidden;
  &.active {
    left: 0;
    z-index: 1000;
    transition: all 0.5s;
  }
  .nav__container {
    flex-direction: column;
    align-items: flex-start;
  }
  .container {
    padding: 0;
  }
  @media (min-width: 541px) {
    display: none;
  }
}

.menu__close {
  width: rem(30);
  height: rem(30);
  background: url('../img/menu-close.svg') no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 22px;
  left: 30px;
}
