%icons-slick {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: cover;
}

.reviews-slider {
  .slick-slide {
    position: relative;
    box-shadow: rem(4 4 10) $border-color;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: rem(17 94 20);
    background: #fff;
    margin: rem(10);
    @media (max-width: 540px) {
      flex-direction: column;
      box-shadow: none;
      margin: 10px;
      padding: 0;
    }
  }
}

.slick-prev {
  font-size: 0;
  left: rem(24);
  position: relative;
  &:before {
    content: '';
    background: url('../img/reviews/left-arrow.svg') no-repeat center center;
    background-size: contain;
    @extend %icons-slick;
  }
}

.slick-next {
  font-size: 0;
  right: rem(24);
  &:before {
    content: '';
    background: url('../img/reviews/right-arrow.svg') no-repeat center center;
    background-size: contain;
    @extend %icons-slick;
  }
}

.slick-arrow {
  width: rem(17);
  height: rem(30);
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  cursor: pointer;
  z-index: 10;
  background: transparent;
  @media (max-width: 540px) {
    transform: none;
    top: 70px;
  }
}

.reviews-slider__text {
  .bold {
    font-weight: 400;
  }
  @media (max-width: 540px) {
    padding-top: rem(18);
    border-top: 1px solid $main-color;
  }
}

.reviews-slider__photo {
  margin-right: rem(25);
  border-right: 1px solid $main-color;
  padding-right: rem(20);
  @media (max-width: 540px) {
    margin: {
      right: 0;
      bottom: 24px;
    }
    border-right: none;
    padding: 0;
  }
  img {
    margin-bottom: rem(15);
    max-width: rem(167);
    min-width: rem(167);
    overflow: hidden;
    border-radius: 50%;
    @media (max-width: 540px) {
      margin-bottom: 0;
    }
  }
  p {
    text-align: center;
  }
}

.reviews-slider__author {
  font-weight: 400;
}

.reviews-slider__desktop-block {
  @media (max-width: 540px) {
    display: none;
  }
}

.reviews-slider__mobile-block {
  text-align: center;
  margin-bottom: rem(11);
  @media (min-width: 541px) {
    display: none;
  }
  p {
    text-align: center;
  }
}

.reviews-slider__descr {
  @media (max-width: 540px) {
    box-shadow: 4px 4px 10px $border-color;
    padding: 24px 20px;
  }
}
