section(id="about").about
  +title("О фабрике")
  .container
    .about__container
      .about__text
        p Что такое идеальный дом? Это место где Вам комфортно, вне зависимости от назначения помещения: гостиная, кухня, ванная комната или кладовая. Везде, где Вы заботитесь о себе, стараясь оптимизировать время. Стирать и гладить в приятной обстановке, располагая функциональной мебелью; аккуратно убирать одежду и обувь, максимально эффективно используя любое пространство. Все это становится возможным благодаря универсальной мебели <span class="bold">Birex®</span>, которая обеспечивает повседневный комфорт, качество и дарит вдохновляющие эмоции.
        p Компания <span class="bold">Birex®</span> исследовала множество уникальных решений, чтобы помочь нам сделать быт менее рутинным. Потому что жизнь включает в себя много повседневных нужд: уборка, стирка, глажка. Мебель итальянского бренда <span class="bold">Birex®</span> делает эти моменты более простыми и, следовательно, более эстетичными, благодаря стилю, который никогда не выходит из моды, и гарантированному качеству.
      .about__img
        img(src="img/about.jpg", alt="Фабрика Birex")
