section(id="about").about
  +title("О фабрике")
  .container
    .about__container
      .about__text
        p Компания <span class="bold">Target Point®</span> была основана в 1996 году. Основной идеей для современного производства было создание полного цикла взаимодействия с клиентом: от исследования рынка до сбора мебели в Вашей квартире или доме.  
        p История предметного дизайна молодого итальянского бренда началась с кофейных столиков, но, спустя некоторое время, амбициозные дизайнеры сделали ряд коллекций обеденных столов, стульев, кроватей и других предметов интерьера. Так началось зарождение уникального стиля <span class="bold">Target Point®</span>, где современные материалы сочетаются с традиционными текстурами, позволяя оформлять интерьер вне зависимости от выбранного стиля. 
        p Дизайнеры компании высоко ценят эргономические решения, привнося их в каждое изделие. Продукты, созданные <span class="bold">Target Point®</span> отражают высокие стандарты качества и эстетики, выражая через формы баланс между традициями и технологиями. 
      .about__img
        img(src="img/about.jpg", alt="О фабрике Target Point")
