section.calculation
  .container
    .calculation__form
      h3 Заказать расчёт онлайн и получить скидку&nbsp;15%
      .calculation__subtitle Мы перезвоним Вам в течении 2-х минут
      form.form
        .form__item
          input(type="text", id="name-1", name="name-1", placeholder="Ваше имя", required).form__input
        .form__item
          input(type="tel", id="tel-1", name="tel-1", placeholder="Ваш номер", required).form__input
        button(type="submit").btn.btn_submit._open-calc-modal Рассчитать
        a(href="success-calc.html").btn.btn_submit.btn-link Рассчитать
        .form__item.form__item_no-max-width
          label(for="accept-1", class="form__label checkbox")
            | Отправляя нам заявку, Вы даете согласие на обработку своих персональных данных. Ваши данные не будут переданы 3-м лицам. Мы заботимся о конфиденциальности данных своих клиентов.
            input(id="accept-1", type="checkbox", checked, required)
            span.checkbox__checkmark
