-
  var catalogDatas = [
    {
      "name": "Серия обеденных столов Maciste, 180",
      "price": "540 000",
      "img": "maciste-180.jpg",
      "subtitle": "Современный стиль. Maciste, 180",
      "scheme": "scheme-maciste.svg",
      "size": "180 / 230 / 280",
      "materials": "металл, натуральное дерево"
    },
    {
      "name": "Серия обеденных столов Priamo",
      "price": "740 000",
      "img": "priamo.jpg",
      "subtitle": "Современный стиль. Модель Priamo",
      "scheme": "scheme-priamo.svg",
      "size": "270 / 180",
      "materials": "керамогранит с эффектом «Мрамор», крашеная металлическая конструкция"
    },
    {
      "name": "Серия обеденных столов Eclipse",
      "price": "940 000",
      "img": "eclipse.jpg",
      "subtitle": "Современный стиль. Модель Eclipse",
      "scheme": "scheme-eclipse.svg",
      "size": "220",
      "materials": "полиуретановая основа (ножки), прозрачное закалённое стекло"
    },
    {
      "name": "Серия обеденных столов Taurus",
      "price": "750 000",
      "img": "taurus.jpg",
      "subtitle": "Современный стиль. Модель Taurus",
      "scheme": "scheme-taurus.svg",
      "size": "180 / 270",
      "materials": "керамогранит с эффектом «Мрамор», крашеная металлическая конструкция"
    },
    {
      "name": "Серия обеденных столов Tango",
      "price": "850 000",
      "img": "tango.jpg",
      "subtitle": "Современный стиль. Модель Tango",
      "scheme": "scheme-tango.svg",
      "size": "200",
      "materials": "основа: белый агломерат, прозрачное закалённое стекло"
    },
    {
      "name": "Серия обеденных столов Libeccio",
      "price": "450 000",
      "img": "libeccio.jpg",
      "subtitle": "Современный стиль. Модель Libeccio",
      "scheme": "scheme-libeccio.svg",
      "size": "180 / 270",
      "materials": "керамогранит с эффектом «Мрамор», крашеная металлическая конструкция"
    }
  ]
  
section(id="catalog").catalog
  +title("Стоимость мебели")
  .container
    .catalog__container
      for item in catalogDatas
        +product(item)
