section(id="contacts").contacts
  +title("Контакты")
  .contacts__container
    .container 
      .contacts__content
        .contacts__item Эксклюзивный дилер Target Point®<br />в Санкт-Петербурге
        .contacts__item.contacts__item_font-weight-300 Мы работаем без выходных<br />с 10.00 до 20.00
        .contacts__item 
          a(href="tel:89117771218").contacts__link 8 (911) 777 1218
        .contacts__item
          | ул. Мытнинская, д. 29
          div
            a(href="mailto:info@berloni-spb.com").contacts__link info@berloni-spb.com
        
