-
  var features = [
    "Разнообразие стилевых направлений",
    "Современные прочные материалы",
    "Ручная работа и технологии",
    "100% Италия",
    "Авторские коллекции от дизайнеров",
    "Эргономика<br />и эстетика"
  ]

section(id="features").features
  +title("Преимущества")
  .container
    .features__items 
      for item, index in features
        .features__item
          .features__icon
            img(src="img/features/feature-" + index + ".svg", alt="Преимущество")
          .features__descr!= item
          
