section.map
  .container
    +title("Салон мебели на карте")
  .map__container 
    script(charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab76ef5e9932be936a3ec25ca3f808e1955f7b92bb36ceb3e52aea3bb75ee7b0d&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true")
