-
  var purchases = [
    "Оставьте заявку на сайте, наш специалист свяжется с Вами в течении 2 минут",
    "Посещение нашего шоу-рума позволит делально ознакомиться с итальянской мебелью",
    "После совершения покупки, кухня собирается в Италии и отправляется в Россию",
    "Мы осуществляем сборку гарнитура в соответствии с техническими характеристиками каждой модели",
    "Гарантия  качества от производителя 10 лет."
  ]


section(id="purchase").purchase
  +title("Процесс покупки")
  .container
    .purchase__items
      each item, index in purchases 
        .purchase__item
          .purchase__icon
            img(src="img/purchase/purchase-" + index + ".svg", alt="Процесс покупки")
          .purchase__descr= item
