doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="format-direction", content="telephone=no")
    //- link(rel="icon", href="img/favicon-16.png", type="image/png")
    //- link(rel="icon", href="img/favicon-32.png", type="image/png")
    //- link(rel="icon", href="img/favicon-96.png", type="image/png")
    meta(name="viewport", content="width=device-width, height=device-height")
    title Эксклюзивный дилер BERLONI® в Санкт-Петербурге
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600|Roboto:300,400,400i", rel="stylesheet")
    link(rel="stylesheet", type="text/css", href="css/main.css")
  
  body
    main
      .call-modal.order-page.order-page_big-padding
        .order-page__content.order-page__content_padding
          .order-page__title Ваша заявка на вызов замерщика успешно отправлена!
          .order-page__img.order-page__img_big
            img(src="img/calc-modal-img.svg", alt="Ваша заявка на вызов замерщика успешно отправлена!")
          a(href="index.html").btn.order-page__btn Главная
        .order-page__footer
          .art-border.art-border_success-calc-modal
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/main.min.js")
